body {
    margin: 0;
    background-color: #ffe4e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-container {
    width: 800px;
    height: 600px;
    border: 5px solid #ffb6c1;
    overflow: hidden;
}